<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="nav">
      <ul class="nav-ul">
        <li>
          <h3><a href="/">M I T</a></h3>
        </li>
        <li>
          <span><i class="fas fa-sms fas-sm"></i></span>
          <span><i class="fas fa-envelope"></i></span>
          <span><i class="fas fa-calendar-alt"></i></span>
          <span><i class="fas fa-phone-square"></i></span>
          <span><i class="fas fa-cloud-upload-alt"></i></span>
          <span><i class="fas fa-shapes"></i></span>
          <span><i class="fas fa-search"></i></span>
        </li>
        <li>
          <span>장건일 님</span>
          <span><i class="fas fa-power-off"></i></span>
          <span>결제</span>
          <span>예약</span>
          <span><a href="#" id="api_ojt">API - OJT</a></span>
          <span><input type="text" placeholder="사원검색"><i class="fas fa-search"></i></span>
        </li>
      </ul>
    </div>
    <div class="main" id="main" name="main">
        <div class="side-bar-content" id="side-bar-content" name="side-bar-content" resizable>
          <ul id="side-bar-items">
            <li>
              <div class="side-bar-buttons">
                <button id="api_button" type="button" name="button">CALL API</button>
              </div>
              <div class="side-bar-main-manu">
                <div><i class="fab fa-creative-commons-zero"></i><div>안읽음</div></div>
                <div><i class="fas fa-star"></i><div>중요</div></div>
                <div><i class="fas fa-history"></i><div>리마인드</div></div>
                <div><i class="fas fa-arrow-circle-right"></i><div>받는사람</div></div>
              </div>
            </li>
            <li>
              <ul class="side-bar-mail-info">
                <li><a href=""><i class="fas fa-envelope"></i>전체메일<button class="side-bar-mail-info-button">정리하기</button></a></li>
                <li><a href=""><i class="fas fa-envelope-open"></i>받은메일함</a></li>
                <li><a href=""><i class="fas fa-mail-bulk"></i>보낸메일함<button class="side-bar-mail-info-button">수신확인</button></a></li>
                <li><a href=""><i class="fas fa-folder"></i>임시보관함</a></li>
                <li><a href=""><i class="fas fa-align-justify"></i>메모함<button class="side-bar-mail-info-button">빠른첨부</button></a></li>
              </ul>
            </li>
            <li>
              <div class="side-bar-vip-toggle">
                <span>></span> VIP
              </div>
              <div>중요연락처 지정하기</div>
            </li>
            <li>
              <div class="side-bar-mymail">
                <div class="side-bar-mymail-toggle"><span>></span> 내 메일함</div>
                <div>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="main-content" id="main-content" name="main-content">
        </div>
    </div>
    <div class="footer" id="footer" name="footer">
      <span>Copyright &copy; Geonil jang </span>
    </div>
  </body>
  <script src="../js/apitest.js"></script>
</html>
